body{
    background-color:#D3D3D3;
    margin:0;
}
/*>>>>General>>>>>>>>>>*/
.camposTexto{
    float: left;
    margin: 50px;
    width: 300px;
    height: 200px;
    padding: 50px;
    background-color: rgba(189, 3, 3, 0.856);
    position: relative;
    border-radius: 15px 50px 30px;
}

.camposTexto input{
    width: 300px;
    height: 30px;
}

.Text input{
    margin: 5px;
}


.Botones{
    margin-top: 20px;
    padding-top: 20px;
    
}

.Botones button{
    margin: 0;
    color: white;
    background-color: #e65501;
    width: auto;
    height: 30px;
    position: relative;
    left: 5px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Mi animacion estará aquí*/
.hexagrama{
    float: left;
    position: relative;
    top: 100px;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: aliceblue;
    border-radius: 30px;
    text-align: center;
    
}

.hexagrama div{
    bottom: 0px;
    left: -150px;
    position:absolute;
}

.hexagrama2 div{
    bottom: 0px;
    left: -150px;
    position:absolute;
}

.hexagrama3 div{
    bottom: 0px;
    left: -150px;
    position:absolute;
}

.hexagrama2{
    float: left;
    position: relative;
    top: 100px;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: aliceblue;
    border-radius: 30px;
    visibility: hidden;
    text-align: center;
    
}

.hexagrama3{
    float: left;
    position: relative;
    top: 100px;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: aliceblue;
    border-radius: 30px;
    visibility: hidden;
    text-align: center;
}

.tabla{
    float: right;
    clear: both;
    position: relative;
    width: auto;
    right: 400px;
    
    
}